@mixin styles {
  /* Framework color */
  --main-bg: #faf9f5;
  --mask-bg: #aebbc3;
  --main-border-color: #dce1dc;

  /* Common color */
  --text-color: #14100b;
  --text-muted-color: #5f625c;
  --text-muted-highlight-color: inherit;
  --heading-color: #14100b;
  --label-color: #58615b;
  --blockquote-border-color: #aebba4;
  --blockquote-text-color: #5f625c;
  --link-color: #4f6d7d;
  --link-underline-color: #b6c6d1;
  --button-bg: #f5f4ed;
  --btn-border-color: #c4cdc7;
  --btn-backtotop-color: #52636d;
  --btn-backtotop-border-color: #aebdc6;
  --checkbox-color: #aebaa8;
  --checkbox-checked-color: #657b6d;
  --img-bg: #ffffff;
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(245, 244, 237, 0) 0%,
    rgba(232, 229, 219, 1) 50%,
    rgba(245, 244, 237, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #14100b;
  --site-subtitle-color: #14100b;
  --sidebar-bg: #faf9f5;
  --sidebar-border-color: #dce1dc;
  --sidebar-muted-color: #52636d;
  --sidebar-active-color: #14100b;
  --sidebar-hover-bg: #f5f4ed;
  --sidebar-btn-bg: #f5f4ed;
  --sidebar-btn-color: #52636d;
  --avatar-border-color: #dce2dc;

  /* Topbar */
  --topbar-bg: #faf9f5;
  --topbar-text-color: #4f5c62;
  --search-border-color: #c4cdc7;
  --search-icon-color: #7b8d96;
  --input-focus-border-color: #faf9f5;

  /* Home page */
  --post-list-text-color: #505b5d;
  --btn-patinator-text-color: #52636d;
  --btn-paginator-hover-color: var(--sidebar-bg);

  /* Posts */
  --toc-highlight: #4f6d7d;
  --toc-popup-border-color: #b7c5cd;
  --btn-share-color: #64767d;
  --btn-share-hover-color: #4f6d7d;
  --card-bg: #ffffff;
  --card-hovor-bg: #f5f4ed;
  --card-shadow:
    rgb(55, 69, 72, 0.06) 0 2px 8px 0, rgba(86, 103, 105, 0.12) 0 0 0 1px;
  --footnote-target-bg: #eeeae0;
  --tb-odd-bg: #f5f4ed;
  --tb-border-color: #cdd5cf;
  --dash-color: #84998b;
  --kbd-wrap-color: #aab9c1;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: #f5f4ed;
  --prompt-text-color: rgb(49, 42, 31, 0.85);
  --prompt-tip-bg: rgb(192, 223, 168, 0.45);
  --prompt-tip-icon-color: #517b2d;
  --prompt-info-bg: #dfe8ee;
  --prompt-info-icon-color: #536d7b;
  --prompt-warning-bg: #efddb4;
  --prompt-warning-icon-color: #a86930;
  --prompt-danger-bg: rgb(219, 172, 156, 0.5);
  --prompt-danger-icon-color: #8a2f18;

  /* Tags */
  --tag-border: #c4cdc7;
  --tag-shadow: var(--btn-border-color);
  --tag-hover: #ece9df;
  --search-tag-bg: #f5f4ed;

  /* Categories */
  --categories-border: rgba(72, 91, 92, 0.18);
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: #52676f;

  /* Archive */
  --timeline-color: rgba(76, 96, 97, 0.16);
  --timeline-node-bg: #84998b;
  --timeline-year-dot-color: #f5f4ed;

  /* --- Custom code light mode colors --- */
  --language-border-color: #fa9449;
  --highlight-bg-color: #f5f4ed;
  --highlighter-rouge-color: #4f6d7d;
  --highlight-lineno-color: #7f98a7;
  --inline-code-bg: rgba(197, 212, 225, 0.42);
  --code-color: #3f555f;
  --code-header-text-color: var(--code-color);
  --code-header-muted-color: #dfe8ee;
  --code-header-icon-color: var(--code-color);
  --clipboard-checked-color: #6a8d3a;

  [class^='prompt-'] {
    --link-underline-color: rgb(219, 216, 216);
  }

  .dark {
    display: none;
  }

  /* --- Syntax highlight theme from `rougify style github` --- */

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #4b3926;
    background-color: #f5f4ed;
  }

  .highlight .k,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .kv {
    color: #cf222e;
  }

  .highlight .gr {
    color: #f6f8fa;
  }

  .highlight .gd {
    color: #82071e;
    background-color: #ffebe9;
  }

  .highlight .nb {
    color: #953800;
  }

  .highlight .nc {
    color: #953800;
  }

  .highlight .no {
    color: #953800;
  }

  .highlight .nn {
    color: #953800;
  }

  .highlight .sr {
    color: #116329;
  }

  .highlight .na {
    color: #116329;
  }

  .highlight .nt {
    color: #116329;
  }

  .highlight .gi {
    color: #116329;
    background-color: #dafbe1;
  }

  .highlight .kc {
    color: #0550ae;
  }

  .highlight .l,
  .highlight .ld,
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #0550ae;
  }

  .highlight .sb {
    color: #0550ae;
  }

  .highlight .bp {
    color: #0550ae;
  }

  .highlight .ne {
    color: #0550ae;
  }

  .highlight .nl {
    color: #0550ae;
  }

  .highlight .py {
    color: #0550ae;
  }

  .highlight .nv,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi,
  .highlight .vm {
    color: #0550ae;
  }

  .highlight .o,
  .highlight .ow {
    color: #0550ae;
  }

  .highlight .gh {
    color: #0550ae;
    font-weight: bold;
  }

  .highlight .gu {
    color: #0550ae;
    font-weight: bold;
  }

  .highlight .s,
  .highlight .sa,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .se,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1,
  .highlight .ss {
    color: #0a3069;
  }

  .highlight .nd {
    color: #8250df;
  }

  .highlight .nf,
  .highlight .fm {
    color: #8250df;
  }

  .highlight .err {
    color: #f6f8fa;
    background-color: #82071e;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cp,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #68717a;
  }

  .highlight .gl {
    color: #68717a;
  }

  .highlight .gt {
    color: #68717a;
  }

  .highlight .ni {
    color: #24292f;
  }

  .highlight .si {
    color: #24292f;
  }

  .highlight .ge {
    color: #24292f;
    font-style: italic;
  }

  .highlight .gs {
    color: #24292f;
    font-weight: bold;
  }
}
