@mixin styles {
  /* Framework color */
  --main-bg: #f6f3eb;
  --mask-bg: #c3b796;
  --main-border-color: #d7ccb0;

  /* Common color */
  --text-color: #231c14;
  --text-muted-color: #655a46;
  --text-muted-highlight-color: inherit;
  --heading-color: #241d14;
  --label-color: #5e5039;
  --blockquote-border-color: #bfa86c;
  --blockquote-text-color: #655a46;
  --link-color: #8e5522;
  --link-underline-color: #cdbf9c;
  --button-bg: #ddd1ad;
  --btn-border-color: #bba97f;
  --btn-backtotop-color: #5f5139;
  --btn-backtotop-border-color: #cbbd97;
  --checkbox-color: #b5ab8e;
  --checkbox-checked-color: #a25c1e;
  --img-bg: #ffffff;
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(243, 237, 217, 0) 0%,
    rgba(232, 223, 192, 1) 50%,
    rgba(243, 237, 217, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #231c14;
  --site-subtitle-color: #231c14;
  --sidebar-bg: #f6f3eb;
  --sidebar-border-color: #c9bc98;
  --sidebar-muted-color: #5f5139;
  --sidebar-active-color: #231c14;
  --sidebar-hover-bg: rgb(176, 131, 67, 0.12);
  --sidebar-btn-bg: #e6dcc0;
  --sidebar-btn-color: #6d5c40;
  --avatar-border-color: #f2ead4;

  /* Topbar */
  --topbar-bg: #f6f3eb;
  --topbar-text-color: #4f4331;
  --search-border-color: #c8ba95;
  --search-icon-color: #98876a;
  --input-focus-border-color: #f6f3eb;

  /* Home page */
  --post-list-text-color: #544936;
  --btn-patinator-text-color: #5f5139;
  --btn-paginator-hover-color: var(--sidebar-bg);

  /* Posts */
  --toc-highlight: #8e5522;
  --toc-popup-border-color: #c8ba95;
  --btn-share-color: #77684c;
  --btn-share-hover-color: #a25c1e;
  --card-bg: #ffffff;
  --card-hovor-bg: #f1ead8;
  --card-shadow:
    rgb(88, 72, 44, 0.08) 0 2px 8px 0, rgba(123, 102, 69, 0.16) 0 0 0 1px;
  --footnote-target-bg: #efe0b6;
  --tb-odd-bg: #f1ead3;
  --tb-border-color: #d1c3a0;
  --dash-color: #9e8d68;
  --kbd-wrap-color: #b7a784;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: #f4edd8;
  --prompt-text-color: rgb(49, 42, 31, 0.85);
  --prompt-tip-bg: rgb(192, 223, 168, 0.45);
  --prompt-tip-icon-color: #517b2d;
  --prompt-info-bg: #dfdfcb;
  --prompt-info-icon-color: #6c5b3d;
  --prompt-warning-bg: #efddb4;
  --prompt-warning-icon-color: #a86930;
  --prompt-danger-bg: rgb(219, 172, 156, 0.5);
  --prompt-danger-icon-color: #8a2f18;

  /* Tags */
  --tag-border: #cbbd97;
  --tag-shadow: var(--btn-border-color);
  --tag-hover: rgb(225, 215, 184);
  --search-tag-bg: #f0e7cf;

  /* Categories */
  --categories-border: rgba(78, 61, 32, 0.18);
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: #5c492a;

  /* Archive */
  --timeline-color: rgba(86, 67, 37, 0.15);
  --timeline-node-bg: #b59c74;
  --timeline-year-dot-color: #f4edd8;

  /* --- Custom code light mode colors --- */
  --language-border-color: #fa9449;
  --highlight-bg-color: #fffaf3;
  --highlighter-rouge-color: #6b5032;
  --highlight-lineno-color: #c88b58;
  --inline-code-bg: rgba(250, 148, 73, 0.12);
  --code-color: #4b3926;
  --code-header-text-color: #fa9449;
  --code-header-muted-color: #f3e1ca;
  --code-header-icon-color: #fa9449;
  --clipboard-checked-color: #6a8d3a;

  [class^='prompt-'] {
    --link-underline-color: rgb(219, 216, 216);
  }

  .dark {
    display: none;
  }

  /* --- Syntax highlight theme from `rougify style github` --- */

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #4b3926;
    background-color: #fffaf3;
  }

  .highlight .k,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .kv {
    color: #cf222e;
  }

  .highlight .gr {
    color: #f6f8fa;
  }

  .highlight .gd {
    color: #82071e;
    background-color: #ffebe9;
  }

  .highlight .nb {
    color: #953800;
  }

  .highlight .nc {
    color: #953800;
  }

  .highlight .no {
    color: #953800;
  }

  .highlight .nn {
    color: #953800;
  }

  .highlight .sr {
    color: #116329;
  }

  .highlight .na {
    color: #116329;
  }

  .highlight .nt {
    color: #116329;
  }

  .highlight .gi {
    color: #116329;
    background-color: #dafbe1;
  }

  .highlight .kc {
    color: #0550ae;
  }

  .highlight .l,
  .highlight .ld,
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #0550ae;
  }

  .highlight .sb {
    color: #0550ae;
  }

  .highlight .bp {
    color: #0550ae;
  }

  .highlight .ne {
    color: #0550ae;
  }

  .highlight .nl {
    color: #0550ae;
  }

  .highlight .py {
    color: #0550ae;
  }

  .highlight .nv,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi,
  .highlight .vm {
    color: #0550ae;
  }

  .highlight .o,
  .highlight .ow {
    color: #0550ae;
  }

  .highlight .gh {
    color: #0550ae;
    font-weight: bold;
  }

  .highlight .gu {
    color: #0550ae;
    font-weight: bold;
  }

  .highlight .s,
  .highlight .sa,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .se,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1,
  .highlight .ss {
    color: #0a3069;
  }

  .highlight .nd {
    color: #8250df;
  }

  .highlight .nf,
  .highlight .fm {
    color: #8250df;
  }

  .highlight .err {
    color: #f6f8fa;
    background-color: #82071e;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cp,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #68717a;
  }

  .highlight .gl {
    color: #68717a;
  }

  .highlight .gt {
    color: #68717a;
  }

  .highlight .ni {
    color: #24292f;
  }

  .highlight .si {
    color: #24292f;
  }

  .highlight .ge {
    color: #24292f;
    font-style: italic;
  }

  .highlight .gs {
    color: #24292f;
    font-weight: bold;
  }
}
